
.bg {
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://i.ibb.co/H4WGcST/1.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.bg1 {
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://i.ibb.co/gRXd8vP/2.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.bg2 {
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://i.ibb.co/Qd5gRZs/4.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.bg3 {
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://i.ibb.co/gr1kWBX/akshar11111111111111.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}


.font1 {
    font-family: 'Berkshire Swash', cursive;
    font-family: 'Cormorant Garamond', serif;
    font-family: 'Merriweather', serif;
}