
.bg {
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://i.ibb.co/zfGKfW0/heder1-3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.bg1 {
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://i.ibb.co/54c7nyc/heder1-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.bg2 {
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://i.ibb.co/K5KCSvk/heder1-2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.bg3 {
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://i.ibb.co/K5KCSvk/heder1-2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}


.font1 {
    font-family: 'Berkshire Swash', cursive;
    font-family: 'Cormorant Garamond', serif;
    font-family: 'Merriweather', serif;
}