.App {
    background-image: url('/src/assets/2793281-ai.png');
    min-height: 1000px;
}

.scrollbar::-webkit-scrollbar {
    width: 10px;
}

.scrollbar::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(255, 255, 255);
    border-radius: 10px;
}

.scrollbar::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 10px;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
    background: #cecaca;
}